.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border-bottom: 1px grey solid;
  max-width: 470px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Navigation Styling */

.navigation {
  /* border: blue 1px solid; */
  background: #F55A5A;
  color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 547px;
  max-height: 70px;
}

.little-space {
  padding-right: 1em;
}

.preview {
  max-width: 125px;
  max-height: 168px;
  padding: 20px;
  object-fit: cover;
}